
<div class="container">
    <div class="col"><h1>{{titulo}}</h1></div>
    <br>
    <div class="form-group row">

        <div class="form-group col md-3">
            <label for="eFecha">Fecha:</label>
            <input type="text" nombre="eFecha" id="eFecha" placeholder="Fecha" class="form-control" [(ngModel)]="inputFecha">
        </div>    

        <div class="form-group col md-3">
            <label for="producto">Producto:</label>
            <input type="text" nombre="producto" id="producto" placeholder="Producto" class="form-control" [(ngModel)]="inputProducto">
        </div>   

        <div class="form-group col md-3">
            <label for="descripcion">Descripcion:</label>
            <input type="text" nombre="descripcion" id="descripcion" placeholder="Descripcion" class="form-control" [(ngModel)]="inputDescripcion">
        </div>  

        <div class="form-group col md-3">
            <label for="cantidad">Cantidad</label>
            <input type="text" nombre="cantidad" id="cantidad" placeholder="Cantidad" class="form-control" [(ngModel)]="inputCantidad">
        </div> 

        <div class="form-group col md-3">
            <label for="entregadoA">Entregado A:</label>
            <input type="text" nombre="entregadoA" id="entregadoA" placeholder="Entregado A" class="form-control" [(ngModel)]="inputEntregadoA">
        </div>  

        <div class="form-group col md-3">
            <label for="oficina">Oficina:</label>
            <input type="text" nombre="oficina" id="oficina" placeholder="Oficina" class="form-control" [(ngModel)]="inputOficina">
        </div>   

        <div class="form-group col md-3">
            <label for="de">De:</label>
            <input type="text" nombre="de" id="de" placeholder="De" class="form-control" [(ngModel)]="inputDe">
        </div>      

        <div class="col" style="margin-top: 2.1%;">
            <button type="submit" class="btn btn-primary" (click)="agregarEPeriferico()">Agregar</button>
        </div>

    </div>

    <br>

    <div class="container">
        <div class="row">
            <div class="col">
                <!--
                <div *ngFor="let prod of ePerifericos">
                    {{prod.fecha}} {{prod.producto}} {{prod.descripcion}} {{prod.cantidad}} {{prod.entregadoA}} {{prod.oficina}} {{prod.de}}
                </div> -->
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Producto</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Entregado A</th>
                                <th scope="col">Oficina</th>
                                <th scope="col">De</th>
                                <th scope="col">Modificar</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let prod of ePerifericos, let indice = index">
                            <tr>
                                <td>{{prod.fecha}}</td>
                                <td>{{prod.producto}}</td>
                                <td>{{prod.descripcion}}</td>
                                <td>{{prod.cantidad}}</td>
                                <td>{{prod.entregadoA}}</td>
                                <td>{{prod.oficina}}</td>
                                <td>{{prod.de}}</td>
                                <td><a [routerLink]="['/actEP',indice]">Modificar</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
