<p>toners works!</p>

<div class="container">
    <div class="col"><h1>{{titulo}}</h1></div>
    <br>
    <div class="form-group row">

        <div class="form-group col md-3">
            <label for="nomToner">Modelo Toner</label>
            <input type="text" nombre="nomToner" id="nomToner" placeholder="Modelo Toner" class="form-control" [(ngModel)]="inputMToner">
        </div>

        <div class="form-group col md-3">
            <label for="molImpre">Modelo Impresora</label>
            <input type="text" nombre="molImpre" id="molImpre" placeholder="Modelo Impresora" class="form-control" [(ngModel)]="inputMImpre">
        </div>

        <div class="form-group col md-3">
            <label for="color">Color</label>
            <input type="text" nombre="color" id="color" placeholder="Color" class="form-control" [(ngModel)]="inputColor">
        </div>

        <div class="form-group col md-3">
            <label for="convMarco">Conve.Marco</label>
            <input type="text" nombre="conveMarco" id="conveMarco" placeholder="Conve. Marco" class="form-control" [(ngModel)]="inputConve">
        </div>

        <div class="form-group col md-3">
            <label for="stock">Stock</label>
            <input type="text" nombre="stock" id="stock" placeholder="Stock" class="form-control" [(ngModel)]="inputStock">
        </div>

        <div class="col">
            <button type="submit" class="btn btn-primary" (click)="agregarToner()">Agregar</button>
        </div>
        
    </div>
</div>

<br>

<div class="container">
    <div class="row">
        <div class="col">
            <div *ngFor="let toner of toners">
                {{toner.nombreToner}} {{toner.modeloImpre}} {{toner.color}} {{toner.convMarco}} {{toner.stockDispo}}
            </div>
        </div>
    </div>
</div>